body{
    background-color: lime;
}

#time_button_list{
    display: flex; 
    justify-content: center;
}

#time_button_list #button_start #button_stop{
    margin-right:20px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#button_start{
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}

#button_stop{
    color:#fff;
    background-color: green;
    border-color:rgb(163, 182, 163);
}

#button_reset{
    color: #fff;
    background-color: red;
    border-color: red;
}

#flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}

#flex > p{
    font-size: 20px;
}

.top_space{
    margin-top:10px;
}